* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* below is everything for the background image */
    background-image: url(photos/kelly-sikkema-sharpie-on-white-unsplash.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #a0a5a9;
}

/* START OF THE NAV BAR */

nav {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
    color: #fff;
}

#logoContainer,
#titleContainer,
#menuContainer {
    flex: 1 0 auto;
}

#logoContainer {
    padding-left: 40px;
    display: flex;
    justify-content: flex-start;

}

#logo {
    width: 90px;
    height: auto;
    object-fit: cover;
}

#title {
    font-family: 'Silkscreen', sans-serif;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

#menuContainer {
    padding-right: 40px;
    display: flex;
    justify-content: flex-end;
}

#menuButton {
    width: 50px;
    height: auto;
    object-fit: cover;
    color: #fff;
    transition: transform 0.3s ease-in-out;
}

#menuButton:hover {
    cursor: pointer;
}

/* END OF THE NAV BAR */

/* START OF THE MAIN */

main {
    border: 20px solid #333;
    border-radius: -15px;
    width: 100%;
    height: 100vh;
    overflow: clip;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gridContainerParent {
    width: 775px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#gridContainer {
    display: flex;
    flex-wrap: wrap;
    width: 625px; /* Adjust the width as needed */
    height: 625px; /* Adjust the height as needed */
}

#gridContainer:hover {
    cursor: url(photos/stylus_FILL0_wght400_GRAD0_opsz24.svg), auto;
}

.square {
    width: 25px;
    height: 25px;
    border: 0.5px solid #333;
}

/* START OF THE TOGGLED MENU */

#toggleMenu {
    border-top: 0.5px solid #000;
    border-left: 1px solid #aaa;
    border-radius: 15px 0 0 0;
    width: 400px;
    height: 100%;
    padding: 10px;
    background-color: #333;
    font-family: 'Play', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 90px;
    right: -400px;
    transition: right 0.3s, box-shadow 0.3s;
}

/* END OF THE TOGGLED MENU */

/* END OF THE MAIN */

/* START OF THE FOOTER */

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
    color: #fff;
}

footer p {
    font-family: 'Silkscreen', sans-serif;
    color: #fff;
    margin: 10px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}